.btn{
    height: 50px;
    width: auto;
    background-color: #000;
    color: #68ff51;
    border: 2px solid #68ff51;
    font-size: 1.3rem;
    border-radius: 30px;
    transition: .5s;
    padding: 0px 10px;
}
.btn:hover,:focus{
    background-color: #68ff51;
    color: #000;
    border: #000 2px solid;
    box-shadow: 3px 3px 10px #68ff51;
    cursor: pointer;
    transform: scale(1.04);
}
.btn-d{
    height: 50px;
    margin: 20px;
    background-color: #ff2222;
    color: #000;
    border: 2px solid #000;
    font-size: 1.3rem;
    border-radius: 30px;
    transition: .5s;
    padding: 0px 10px;
    cursor: pointer;
    transform: scale(1.04);
}
.btn-d:hover,:focus{
    color: #ff2222;
    border: #ff2222 solid 2px;
    background-color: #000;
    box-shadow: 3px 3px 10px #ff2222;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #00000088;
    margin: 0px;
    width: 100%;
}
.nav h1{
    color: #68ff51;
    margin-right: 10px;
}